{{- $href := .Destination | safeURL -}}
{{- $text := .Text | safeHTML -}}
{{- $classes := slice -}}
{{- if or (hasPrefix .Page.File.Path "cyber/") (eq .Page.File.Path "privacy.md") -}}
  {{- $classes = $classes | append "anews-link" -}}
{{- end -}}
{{- if hasPrefix (.Text | plainify) "#" -}}
  {{- $classes = $classes | append "hashtag-link" -}}
{{- end -}}
<a href="{{ $href }}"{{ if $classes }} class="{{ delimit $classes " " }}"{{ end }}{{ with .Title }} title="{{ . }}"{{ end }}>{{ $text }}</a>
