{{ define "main" }}
  <div class="container mx-auto px-4 my-8 post-layout">
    <article class="article-card prose prose-invert blog-content md:col-span-3 max-w-3xl mx-auto">
      <h1 class="title text-center text-4xl md:text-6xl font-bold mb-6">{{ .Title }}</h1>
      {{ .Content }}
    </article>
    {{ with .TableOfContents }}
      <aside class="toc-container md:col-span-1 md:pl-8">
        <h2 class="text-xl font-semibold mb-2">Sommaire</h2>
        {{ . }}
      </aside>
    {{ end }}
  </div>
{{ end }}
