{{ define "main" }}
  <div class="container mx-auto px-4 my-8 grid gap-8 md:grid-cols-4">
    <article class="article-card prose prose-invert blog-content md:col-span-3 max-w-none">
      <h1 class="title text-center text-4xl md:text-6xl font-bold mb-6">{{ .Title }}</h1>
      {{ .Content }}
    </article>
    {{ with .TableOfContents }}
      {{ $toc := . }}
      {{ if hasPrefix $.File.Path "blog/cyberwatch/" }}
        {{ $toc = replaceRE `<a href="#([^"]+)" class="anews-link"></a><a href="[^"]+" class="anews-link">([^<]+)</a>` `<a href="#${1}" class="anews-link">${2}</a>` $toc }}
      {{ end }}
      <aside class="toc-container md:col-span-1 md:pl-8">
        <h2 class="text-xl font-semibold mb-2">Sommaire</h2>
        {{ $toc | safeHTML }}
      </aside>
    {{ end }}
  </div>
{{ end }}
