<nav class="shadow">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <a class="text-lg md:text-2xl italic font-semibold text-white" href="{{ "/" | relURL }}">Cybowl</a>
    {{ $current := . }}
    <ul class="flex space-x-6">
      {{ range site.Menus.main }}
        <li>
          <a href="{{ .URL | relURL }}"
             class="px-4 py-2 rounded transition-colors text-white hover:bg-white hover:bg-opacity-20">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
